* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.width {
    width: 350px;
}

/* /common */

/* header */
.header {
    margin: 200px auto 0;
    background-color: aqua;
    background-color: #e9e9e9;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

/* /header */

/* display */
.display {
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    height: 70px;
}

.zero {
    color: #09cc84;
    font-size: 40px;
    padding: 20px;
    font-family: 'Seven Segment', sans-serif;
}

/* /display */

/* main */
.buttons-row {
    margin: 0 auto;
    background-color: #ededed;
    display: flex;
    padding: 20px 5px 20px 20px;
    border-radius: 0 0 10px 10px;
}

.left-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.right-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 5px;
}

.num-btn {
    width: 60px;
    height: 60px;
    background-color: #bbbbbb;
    font-size: 30px;
    font-family: "Kdam Thmor Pro", sans-serif;
    border-radius: 5px;
    border-right: none;
    border-top: none;
    border-color: gray;
}

.bigger-button {
    padding: 0px 84px 0 54px;
    text-align: center;
}

.small {
    width: 60px;
    height: 45px;
    text-align: center;
    font-family: "Kdam Thmor Pro", sans-serif;
    vertical-align: middle;
}

.orange {
    background-color: #ff9f0a;
}

.azure {
    background-color: #77a8b0;
}

.t-white {
    color: white;
}

/* /main */